{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-undef": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/state-in-constructor": "off",
    "no-mixed-operators": "off",
    "react/prop-types": "warn",
    "no-console": "off",
    "no-shadow": "warn",
    "react/no-array-index-key": "warn",
    "jsx-a11y/label-has-associated-control": "warn"
  }
}
